* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem

	

	@include respond(4k) {
		font-size: 75%; //1 rem = 12px; 18px/16px = 75%
	}

	@include respond(fullHD) {
		font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
	}

	@include respond(laptop-l) {
		font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
	}

	@include respond(laptop) {
		font-size: 50%; //1 rem = 8px; 6px/16px = 50%
	}

	
	@include respond(tablet) {
		font-size: 43.75%; //1 rem = 7px; 7px/16px = 43.75%
	}

	@include respond(mobile-l) {
		font-size: 31.25%; //1 rem = 5px; 6px/16px = 31.25%
	}


	@include respond(mobile-m) {
		font-size: 25%; //1 rem = 4px; 4px/16px = 25%
	}

	@include respond(mobile-s) {
		font-size: 25%; //1 rem = 4px; 4px/16px = 25%
	}
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Arial', serif;
}

